@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --violet: #d33bfd;
}

/* ==========================SECTION PRESENTATION SLIDER=========================  */

.wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(#13181D, #20212e, #341b47);
    min-height: 50vh;
    /* Problème Nivo Slider : écart entre la section et le footer */
    margin-bottom: -16px;
}

.wrapper .slider-wrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 70%;
    margin: 5%;
}

.wrapper .slider-wrapper .nivoSlider {
    max-height: 490px;
    /* Pas de solution à par changer les tailles d'images sur photoshop */
}

/* ==========================FOOTER=========================  */
footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #341b47;
    filter: brightness(70%);
    color: #e9e9e9;
}

@media screen and (max-width: 900px) {

    /* ---------------------------@PRESENTATION-------------------------  */
    .presentation .description h1 {
        font-size: 2em;
    }

    .first .image {
        display: none;
    }
}